* {
    margin: 0;
    padding: 0;
}

table {
    margin: 12% auto;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    height: 300px;
}

table,
td,
th {
    border: 2px dotted green;
}